@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body{
    font-family: 'Quicksand',sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.685),rgba(3, 45, 70, 0.5)),url("ocean\ wallapaper.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    width: 100%;
    height: auto;
   
}

header{
    background-image:linear-gradient(rgb(163, 162, 162),rgb(114, 113, 113)); 
    position: sticky;
}
.image-logo{
  padding: 10px 20px;
}

.image-logo img{
    width: 250px;
 
}


.dummmy-container{
    margin-inline : auto;
    
}


note-list{
    margin-block: 1rem;
    
    display: flex;
  flex-wrap: wrap;
  justify-content: center;


  column-gap: 3%;
  row-gap: 24px;

}

.column-list{
    
    background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgb(252, 252, 252);
  border-radius: 8px;
  padding: 20px;
  align-items: center;
  color: #fff;
  text-align: center;
  
}


 .card{

   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    flex-wrap: wrap;
    padding: 10px;
   

} 

.note-list-unarchived{
    display: flex;
    flex-wrap: wrap;
}

.archived-card{

   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    flex-wrap: wrap;
    padding: 10px;
   
   

} 


.archived-column-list{
    background-color: rgba(39, 37, 37, 0.4);
  -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgb(252, 252, 252);
  border-radius: 8px;
  padding: 16px;
  align-items: center;
  color: #fff;
  
}
/*card list*/
/* .note-data {
    background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding:  40px;
    align-items: center;
    
   display: grid;
    flex-basis: 19%;
      
    
}
.title-card,.body-card,.create-card{
    color:#ffffff;
  
} */

/* .dummmy-container{
    display: flex;
} */
/**---**/

/*.form-group{
    display: block;
    position: absolute;
}*/
.form-contain{
    background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    /*border: 1px solid rgb(255, 255, 255);*/
    padding: 10px ;
    padding-bottom: 10px;
    border-radius: 16px;
    display: block;
    width: 50%;
    margin: 0 auto;

   

}

.form-contain{
    padding: 10px;
}
.form-group {
  
  display: block;
 
}
.form-title{
   padding: 100px;
   text-align: center;
   color: #fff;

}

.form-group label{
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    padding: 0 150px;
  
  
    
}

.form-group input,textarea{
    padding: 1em 3em;
    max-width: 300px;
    display: block;
    border: 1px solid black
}
.form-group input{
    font-family: 'Quicksand',sans-serif;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    height: 30px;
    width: 100%;
    font-size: 16px;
    align-items: center;
    flex-direction: column;

}
.form-group textarea{
    font-family: 'Quicksand',sans-serif;
    padding:  0 10px;
    width: 100%;
    height: 30vh;
    margin: auto;
    align-items: center;
    border-radius: 10px;
    font-size: 16px;
    justify-content: center;
    

}
.form-group input textarea{
    padding: 10px;
}

.btn{
    
    padding: 10px;
    width: 100px;
    border-radius: 40px;
    background-color: rgb(77, 77, 77);
    font-family: 'Quicksand','sans-serif';
    font-weight: 700;
    color: #fff;
    margin: auto;
    display: block;
    margin-top: 20px;
   
   
    
}


.btn:hover{
    background-color: rgb(170, 169, 169);
}


.note-list{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
   
    gap :16px;


}


.archive{

    text-align: center;
    color:#fff;

}


button {
    padding: 10px 16px;
    color: black;
    cursor: pointer;
  }


.del-btn{
    font-family: 'Quicksand',sans-serif;
    background-color: rgb(211, 7, 7);
    padding: 10px;
    border-radius:8px;
    color: #fff;
}

.del-btn:hover{
    background-color: rgb(235, 95, 95) ;
}

.arc-btn{

    font-family: 'Quicksand',sans-serif;
    background-color: rgb(211, 157, 7);
    padding: 10px;
    border-radius:8px;
    color: #fff;

}

.arc-btn:hover{
    background-color:  rgb(160, 119, 6);
}


.unarc-btn{

    font-family: 'Quicksand',sans-serif;
    background-color: rgb(211, 106, 7);
    padding: 10px;
    border-radius:8px;
    color: #fff;

}

.unarc-btn:hover{
    background-color:  rgb(131, 98, 9);
}
footer{
    background-image:linear-gradient(rgb(163, 162, 162),rgb(114, 113, 113)); 
}

.text-footer{
    padding: 10px 19px;
    text-align: center;
    font-weight: 600;
}
